.contenair_classe{
    margin-left: 19%;
    width: 79.8%;
    margin-top: 10px;
    /* background-color: #641b1b; */
}

.filtere{
    /* margin-top: 15px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
}
.filtere .input_filter{
    width: 40%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #1d3557;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}
.input_filter:focus{
    border-color:#1d3557;
    background:#fff;
    box-shadow:0 0 10px rgba(29,53,87,0.2);
}
.addClasse{
    /* width: 20%; */
    /* height: 30px; */
    padding: 5px 10px;
    background-color: #2b376b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;

}
th{
    background-color: #2b376b;
    color: white;
}
th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.cardAjout{
    width: 100%;
    background-color: #1413138a;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    display: none;
 }
 .cardAjout.show{
    display: block;
 }
 form{
    width: 280px; 
   position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    padding: 22px;
    border-radius: 10px;
    border-top: 5px solid #2b376b;
    /* display: none; */
    /* position: fixed; */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .flex{
    display: flex;
    justify-content: space-between;
 }
 .crois{
    background-color: #cf0722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 3.8px 8px;
 }
.cardAjout input,select{
    width: 98%;
    height: 30px;
    margin: 10px auto;
    /* display: block; */
    padding: 0 10px;
    border: 1px solid #1d3557;
    border-radius: 5px;
    background-color: #FFFFFF;
    outline: none;
}
.button  {
  display: flex;
    justify-content: space-between;
    /* padding: 10px ; */
}
.btnadd{
    padding: 8px 10px;
    background-color: #2b376b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btnreset{
    padding: 8px 10px;
    background-color: #cf0722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
