* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #063264;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #222;
}
.description {
    text-align: center;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 15px;
}
input:focus {
    outline: none;
    border-color: #0c4d92;
}
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background-color: #053974;
    /* background: ; */
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #083769c5;
}
.retour {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #063264;
    text-decoration: none;
}
.retour:hover {
    text-decoration: underline;
}